
footer {
    position: relative;
    z-index: 10;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.social {
  flex:0 0 100%;
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  flex-wrap: wrap;
  padding:0 3rem;
}

.social-link {
  font-size: 0.8rem;
  font-family: 'Proximanova-reg';
  text-transform: uppercase;
  display:flex;
  flex-direction: column;
  padding:0.9rem;
  width:45%;
  margin-bottom:2rem;
}

.social-link i {
  margin-top: 5px;
  font-size: 1.34rem;
}

.footer-logo {
  text-align: right;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 0 3rem;
}

.f-logo-sign {
    font-family: "ProximaNovaX" !important;
    font-size: 1.95rem;
    color:rgba(254, 254, 254, 0.85) !important;
    margin-bottom: 0;
}

.f-copy {
  margin-top: 0;
  font-family: "Academyc-italic" !important;
  margin-bottom: 0;
}

@media (min-width: 768px) {

  footer .container {
    width:100%;
    max-width: 100%;
  }

  .social {
    padding:0 3rem;
  }

  .social-link {
    font-size: 0.8rem;
    font-family: 'Proximanova-reg';
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    padding:0.9rem;
    width:25%;
    margin-bottom:2rem;
  }


}

@media (min-width: 992px) {
  .social-link {
    width:24%;
  }

}


@media (min-width: 1200px) {

footer  .container {
    max-width: 1040px;
}

footer {
    margin-top: 8rem;
}

.social {
  flex:0 0 50%;
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  padding:0;
}

.social-link i {
  margin-top: 5px;
  font-size: 1.34rem;
}


.footer-logo {

  flex: 0 0 30%;
  padding:0;
}

.f-logo-sign {
    font-family: "ProximaNovaX" !important;
    font-size: 1.95rem;
    color:rgba(254, 254, 254, 0.85) !important;
    margin-bottom: 0;
}

.f-copy {
  margin-top: 0;
  font-family: "Academyc-italic" !important;
  margin-bottom: 0;
}

.social-link {
  font-size: 0.8rem;
  font-family: 'Proximanova-reg';
  text-transform: uppercase;
  display:flex;
  flex-direction: column;
  padding:0.9rem;
  width:105px;
}

}
